<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Personal Assistant | Control panel</title>
        <meta charset="UTF-8">
        <link href="public/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="public/css/flat-ui.css" rel="stylesheet" type="text/css" />
        <link href="public/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        
            <header class="col-xs-12 header ztop" >
                <div class="row ztop">
                    <div class="col-xs-4 pull-left">
                        <h1 class="logo"><span style="color: #f00;">TrueYou</span> <span style="font-size: 18px;color: #AFAFAF;">Personal Assistant</span></h1>
                    </div>
                    <div class="col-xs-8 navbar-collapse pull-right ztop">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><span class="badge badge-white pull-right">42</span> NOTIFICATION</a></li>
                            <li><a href="#">PROFILE</a></li>
                            <li><a href="#"><span class="avatar"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/t1.0-1/p320x320/10306388_10202092533301118_8683534609256773072_n.jpg" /></span>[HI Veerayut]</a></li>
                            <li><a href="#">LOGOUT</a></li>
                        </ul>
                    </div>
                </div>


            </header>


            <div class="sidebar ztop">
                <div class="sidemenu">
                    <ul>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-inbox"></span> Report</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-warning-sign"></span> Pending Case</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-headphones"></span> Customer Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="content">

                


                <div class="col-xs-12  panel" >
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <div class="input-group col-xs-12">

                                    <input class="form-control" type="text" placeholder="ค้นหา สถานที่ สิทธิประโยชน์">
                                    <div class="input-group-addon" style="padding: 0px;"><button type="submit" class="btn btn-default" style="padding: 10px 30px 9px;"><span class="glyphicon glyphicon-search"></span></button></div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>

                <div class="col-xs-12  panel" style="margin-top: 10px;">


                    <div class="panel-body">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ชื่อร้านค้า</th>
                                    <th>ที่ตั้ง</th>
                                    <th style="width: 120px;">เบอร์โทรศัพท์</th>
                                    <th>เบอร์แฟกส์</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>ร้านอาหาร บ้านอิสระ</td>
                                    <td>7 ถนนแนบเคหาสน์ ตำบลหัวหิน อำเภอหัวหิน ประจวบคีรีขันธ์ 77110</td>
                                    <td>020922922</td>
                                    <td>020922922</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>สุภัทราริมทะเล หัวหิน</td>
                                    <td>122/63 ซอยหมู่บ้านตะเกียบ ถนนเขาตะเกียบ-หัวหิน ตำบลหนองแก อำเภอหัวหิน ประจวบคีรีขันธ์</td>
                                    <td>020922922</td>
                                    <td>020922922</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>ร้านอาหาร มานีมีหม้อ Nawamin Festival Walk</td>
                                    <td>อาคาร Nawamin Festival Walk ถนนประเสริฐมนูญกิจ แขวงลาดพร้าว เขตลาดพร้าว กรุงเทพฯ</td>
                                    <td>020922922</td>
                                    <td>020922922</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

          

        
    </body>
</html>
